.slider-container {
    position: relative;
    max-width: 80%; /* Ширина слайдера */
    margin: 0 auto;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 1 0 32.2%; /* Каждый элемент занимает треть экрана */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 9.3px;
    position: relative;
}

.slider-item h3 {
    margin: 0;
    font-size: 1.5em;
    width: 33.33%;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(43, 43, 43);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: ease-in-out .5s;
}

.slider-button.prev.novis {
    opacity: 0;
}

.slider-button.next.novis {
    opacity: 0;
}

.slider-button.prev.vis {
    opacity: 1;
}

.slider-button.next.vis {
    opacity: 1;
}

.slider-button.prev {
    left: 10px;
    transition: ease-in-out .5s;
}

.slider-button.next {
    right: 10px;
    transition: ease-in-out .5s;
}

.slider-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.stars {
    display: flex;

}

.stars img {
    width: 20px;
    margin: 0;
}